@import "tailwindcss";

@theme {
  --color-surface: #E8EBF0;   /* Card/content background */
  --color-surface-secondary: #ced8e0;
  --color-background: #ffffff;  /* Primary background */
  --color-accent: #6366F1;       /* Purple/violet accent */
  --color-accent-secondary: #A7F3D0; /* Teal/mint for badges */

  --color-text: #111827;         /* Dark gray/black for main text */
  --color-text-secondary: #4B5563; /* Medium gray for secondary text */
  --color-border: #b1bec9;       /* Light gray borders/dividers */
  --color-border-dark: #a2aeb7;
}
