<div class="<%= class_names(
  "p-3 rounded-md mb-2 shadow-sm",
  "bg-red-50 border border-red-200" => comment.user.is_a?(Admin),
  "bg-blue-50 border border-blue-200" => comment.user.is_a?(TeachingAssistant),
  "bg-surface border border-gray-300" => !comment.user.is_a?(Admin) && !comment.user.is_a?(TeachingAssistant)
) %>">
  <p class="text-gray-700">
    <span class="<%= class_names(
      "text-sm font-semibold",
      "text-red-700" => comment.user.is_a?(Admin),
      "text-blue-700" => comment.user.is_a?(TeachingAssistant),
      "text-gray-800" => !comment.user.is_a?(Admin) && !comment.user.is_a?(TeachingAssistant)
    ) %>">
      <%= comment.user.name %>
      <% if comment.user.is_a?(Admin) %>
        <span class="text-xs bg-red-100 text-red-800 px-2 py-1 rounded-full">Admin</span>
      <% elsif comment.user.is_a?(TeachingAssistant) %>
        <span class="text-xs bg-blue-100 text-blue-800 px-2 py-1 rounded-full">TA</span>
      <% end %>:
    </span>
    <%= comment.body %>
  </p>
</div>
