<div class="flex items-center justify-between p-4 shadow-sm bg-surface-secondary mb-4 border-2 border-border-dark">
  <!-- Title -->
  <span class="font-medium text-lg"><%= link_to doubt.title, doubt_path(doubt), class: "hover:underline cursor-pointer" %></span>

  <!-- Accept button -->
  <%= button_to "Accept", doubt_assignments_path, method: :post, params: { doubt_assignment: {doubt_id: doubt.id} },
        class: "px-4 py-2 bg-white text-accent rounded hover:bg-accent border border-accent hover:text-white" %>
</div>
